.nav-wrapper {
	padding: 0 30px;
}

.card-price {
	font-size: 22px;
}

.course {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.course h1 {
	margin-bottom: 30px;
}

.course img {
	max-width: 600px;
	height: auto;
}

.course .price.big {
	font-size: 34px;
}

.card-action.card-btns {
	display: flex;
	justify-content: center;
	align-items: center;
}

.red-remove-btn {
	margin-top: 20px;
}

.auth {
	padding-top: 20;
}

.auth-form {
	align-items: center;
}

.auth-tab {
	align-items: center;
}

.auth-form-btn {
	margin-left: 0 auto;
}