body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todo {
	margin-bottom: 30px;
}

.todo.completed span {
	text-decoration: line-through;
}

.todo label {
	width: 100%;
	padding: 10px 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	background-color: #f3f3f3;
}

.todo i {
	z-index: 2;
}